@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
  width: 27px;
}

@layer base {
  html {
    @apply scroll-smooth;
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
  .banner {
    @apply bg-[url('/blob.svg')] bg-no-repeat w-full bg-cover bg-center h-full;
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
